name: CI

on:
  push:
    branches: [main]
    paths-ignore:
      - '**.md'
      - 'README.md'
  pull_request:
    branches: [main]
    paths-ignore:
      - '**.md'
      - 'README.md'

jobs:
  build:
    name: build-app
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      
      - name: Install bun
        uses: oven-sh/setup-bun@v2
      
      - name: Install dependencies
        run: bun install
      
      - name: Run linter
        run: bun run lint
      
      - name: Run type checking
        run: bun run typecheck
      
      # - name: Run tests
      #   run: bun run test
      
      - name: Build
        run: bun run build
